.banner 
    position relative
    display block
    margin-bottom 60px

    @media $desktop
        margin-bottom 130px

    &__img 
        height 292px

        source, img
            width 100% 
            height: 100%
            object-fit: cover
            object-position: center

    &__text
        position absolute
        top 0 
        right 0
        bottom 0
        left 0
        display flex
        align-items center
        justify-content center

        font-size 16px
        line-height 26px
        color $white
        text-align center
        font-family $montserrat 

        @media $desktop
            font-size 48px
            line-height 77px
            font-weight bold
            color $green

.popular 
    margin-bottom 60px
    margin-right -16px
    
    &__list 
        display flex
        width 100%
        overflow-y auto

        @media $desktop
            justify-content space-between

        &:after 
            content: ''
            flex: 0 0 16px
        


    &__item 
        position relative
        display block
        width 275px
        flex-shrink 0
        margin-right 8px

        @media $tablet
            margin-right 20px

        @media $desktop
            margin-right 30px

        &:last-child
            margin-right 0px

    &__img
        border-radius: 5px
        overflow hidden

    &__name 
        position absolute
        top 0
        bottom 0
        right 0
        left 0
        display flex
        align-items center
        justify-content center

        font-size 24px
        line-height 30px
        color $white
        text-align center
        font-family $montserrat
        font-weight bold


