.faq-page__menu.menu.js-faq-menu
    .menu__current.js-faq-menu-current
        span Список разделов
        i
    ul.menu__list.js-faq-menu-list
        li.menu__item
            a(href='#') Политика конфиденциальности
        li.menu__item
            a(href='#') Договор оферты
        li.menu__item
            a(href='#') Вопросы и ответы
        li.menu__item.menu__item_active
            a(href='#') Поддержка
        li.menu__item
            a(href='#') Контакты