footer.footer.js-footer
    .container
        .footer__logo
            a(href="#")
                img(src="/static/img/svg/sprite.svg#logo" alt="Автограф")
        .footer__social.social
            ul.social__list
                li.social__item.social__item_vk
                    a(href="#") ВКонтакте
                li.social__item.social__item_instagram
                    a(href="#") Instagram
        .footer__links.links
            ul.links__list
                li.links__item
                    a(href="#") Пользовательское соглашение
                li.links__item
                    a(href="#") Конфиденциальность
                li.links__item
                    a(href="#") Вакансии
                li.links__item
                    a(href="#") Компания
                li.links__item
                    a(href="#") Регистрация звезды
                li.links__item
                    a(href="#") Контакты

.totop.js-totop
