header.header 
    .header__top
        .container
            .header__logo 
                a(href="index.html  ")
                    img(src="/static/img/svg/sprite.svg#logo" alt="Автограф")
            .header__categories-btn.js-categories-menu-open
                a(href="#") Категории
            .header__search 
                .search 
                    form.search__form(method="POST" action="search.php") 
                        .search__label 
                            span Поиск
                        .search__input 
                            input(type="text")
                        .search__submit 
                            input(type="submit")
                        .search__reset 
                            input(type="reset")
            .header__partnership-btn
                a(href="star-registration.html") Регистрация звезды
            .header__mobile-buttons
                .header__partnership-btn.header__partnership-btn_tablet
                    a(href="star-registration.html") Регистрация звезды
                .header__btn.header__btn_registration
                    a(href="star-registration.html")
                        img(src="/static/img/svg/sprite.svg#header-plus" alt="Регистрация звезды")
                .header__btn.js-categories-menu-open
                    a(href="#")
                        img(src="/static/img/svg/sprite.svg#header-filter" alt="Категории")
                .header__btn.js-mobile-menu-open
                    a(href="#")
                        img(src="/static/img/svg/sprite.svg#header-burger" alt="Меню")
    .header__mobile-search
        .container 
            .search 
                form.search__form(method="POST" action="search.php") 
                    .search__label 
                        span Поиск
                    .search__input 
                        input(type="text")
                    .search__submit 
                        input(type="submit")
                    .search__reset 
                        input(type="reset")
    .header__mobile-menu.mobile-menu.js-mobile-menu
        .mobile-menu__close.js-mobile-menu-close
        .mobile-menu__heading.heading
            span Меню
        ul.mobile-menu__list
            li.mobile-menu__item
                a(href="#") Политика конфиденциальности
            li.mobile-menu__item
                a(href="#") Поддержка
            li.mobile-menu__item
                a(href="#") FAQ
            li.mobile-menu__item
                a(href="#") Сотрудничество
            li.mobile-menu__item
                a(href="#") Контакты
        .mobile-menu__social.social
            ul.social__list
                li.social__item.social__item_vk
                    a(href="#") ВКонтакте
                li.social__item.social__item_instagram
                    a(href="#") Instagram

    .header__categories.js-header-categories
        .categories.container
            a(href="#").categories__close.js-categories-menu-close
            .categories__wrap.scrollbar
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Актёры
                    a(href="#").categories__all-btn Смотреть всех
                    ul.categories__list.js-categories-menu
                        li.categories__item
                            a(href="http://yandex.ru") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                .categories__group
                    .categories__heading
                        a(href="#") Спортсмены
                    ul.categories__list
                        li.categories__item
                            a(href="#") Футбол (32)
                        li.categories__item
                            a(href="#") Хоккей (30)
                        li.categories__item
                            a(href="#") Лыжный спорт (45)
                        li.categories__item
                            a(href="#") Футбол (32)
                        li.categories__item
                            a(href="#") Хоккей (30)
                        li.categories__item
                            a(href="#") Лыжный спорт (45)
                .categories__group
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)