header.header 
    .header__top
        .container
            .header__logo 
                a(href="#")
                    img(src="/static/img/svg/sprite.svg#logo" alt="Автограф")
            .header__categories-btn.js-categories-menu-open
                a(href="#") Категории
            .header__search 
                .search 
                    form.search__form(method="POST" action="search.php") 
                        .search__label 
                            span Поиск
                        .search__input 
                            input(type="text")
                        .search__submit 
                            input(type="submit")
                        .search__reset 
                            input(type="reset")
            .header__cooperation-btn 
                a(href="#") Сотрудничество
            .header__tablet-buttons 
                .header__btn
                    a(href="#") 
                        img(src="/static/img/svg/sprite.svg#header-plus" alt="Сотрудничество")
                .header__btn.js-categories-menu-open
                    a(href="#")
                        img(src="/static/img/svg/sprite.svg#header-filter" alt="Категории")
                .header__btn
                    a(href="#")
                        img(src="/static/img/svg/sprite.svg#header-burger" alt="Меню")
    .header__tablet-search
        .container 
            .search 
                form.search__form(method="POST" action="search.php") 
                    .search__label 
                        span Поиск
                    .search__input 
                        input(type="text")
                    .search__submit 
                        input(type="submit")
                    .search__reset 
                        input(type="reset")
    .header__categories.js-header-categories
        .categories
            a(href="#").categories__close.js-categories-menu-close
            .categories__wrap.scrollbar
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Актёры
                    a(href="#").categories__all-btn Смотреть всех
                    ul.categories__list.js-categories-menu
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                        li.categories__item
                            a(href="#") Кино (32)
                        li.categories__item
                            a(href="#") Телевидение (32)
                        li.categories__item
                            a(href="#") Актеры озвучивания (45)
                .categories__group
                    .categories__heading
                        a(href="#") Спортсмены
                    ul.categories__list
                        li.categories__item
                            a(href="#") Футбол (32)
                        li.categories__item
                            a(href="#") Хоккей (30)
                        li.categories__item
                            a(href="#") Лыжный спорт (45)
                        li.categories__item
                            a(href="#") Футбол (32)
                        li.categories__item
                            a(href="#") Хоккей (30)
                        li.categories__item
                            a(href="#") Лыжный спорт (45)
                .categories__group
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)
                .categories__group.categories__group_wide
                    .categories__heading
                        a(href="#") Видеоблогеры
                    ul.categories__list
                        li.categories__item
                            a(href="#") You Tube (49)
                        li.categories__item
                            a(href="#") Tik Tok (30)
                        li.categories__item
                            a(href="#") Instagram (30)
                        li.categories__item
                            a(href="#") Летсплейщики (86)
                        li.categories__item
                            a(href="#") Техноблогеры (56)