.popup.partnership.js-popup-partnership
    .popup__overlay
    .popup__wrap
        .popup__close
        .popup__heading.heading
            span Заявка на сотрудничество
        .partnership__form.form
            .form__list
                .form__item
                    input(type="text" placeholder="ФИО *").input
                .form__item
                    input(type="text" placeholder="Ваш Email *").input
                .form__item
                    input(type="text" placeholder="Ваш телефон *").input
                .form__item
                    textarea(placeholder="Ваш комментарий" rows="6").input
            .form__submit
                input(type="submit" value="Отправить").btn
        .partnership__hint
            p Нажимая кнопку “Принять условия и отправить заявку”, вы соглашаетесь с  #[a «Политикой конфиденциальности»] и #[a(href="#") «Условиями использования»]

