.popup.add-review.js-popup-add-review
    .popup__overlay
    .popup__wrap
        .popup__close
        .popup__heading.heading
            span Оставить отзыв
        .partnership__form.form
            .form__list
                .form__item
                    input(type="text" placeholder="Введите имя").input
                .form__item
                    input(type="text" placeholder="Введите Email").input
                .form__item
                    textarea(placeholder="Текст" rows="6").input
            .form__submit
                input(type="submit" value="Отправить").btn
            .form__privacy
                .checkbox
                    input(type="checkbox" checked id="privacy_add_review")
                    label(for="privacy_add_review") Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") офертой.]
