.footer
  flex 0 0 auto
  margin-top: 60px
  border-top: 1px solid alpha($white, .1)
  padding-top: 16px
  padding-bottom: 16px

  & > .container

    @media $tablet
      display: flex
      align-items flex-start
      margin-right: 30px

  &__logo
    margin-bottom: 20px

    @media $tablet
      margin-right: 30px
      margin-bottom: 0
      flex-shrink: 0

    @media $desktop
      margin-right: 174px

    img
      object-fit: cover
      width: 85px
      aspect-ratio: 3.87

      @media $desktop
        width: 127px


  .links
    font-family: $montserrat
    font-size: 12px
    line-height: 14px
    color: #979797
    font-weight: 400

    @media $tablet
      padding-top: 6px

    @media $desktop
      flex-grow: 1
      padding-top: 0

    &__list
      display: flex
      flex-wrap: wrap
      margin-bottom: -8px

      @media $desktop
        justify-content: flex-end


    &__item
      margin-right: 16px
      margin-bottom: 8px

      &:last-child
        margin-right: 0

      &_light
        color: $white
        font-weight: 500

