.footer
  flex 0 0 auto
  margin-top: 60px
  border-top: 1px solid alpha($white, .1)
  padding-top: 16px
  padding-bottom: 16px
  background-color: $black

  @media $tablet
    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 5

  .social

    @media $tablet
      min-width: 102px
      margin-right: 30px

    @media $desktop
      flex-grow: 1
      margin-right: 30px

    &__list

      @media $tablet
        flex-direction: column
        align-items: center

      @media $desktop
        flex-direction: row
        justify-content: center

    &__item

      @media $tablet
        margin-right: 0
        margin-bottom: 20px

      @media $desktop
        margin-right: 30px
        margin-bottom: 0

        line-height: 17px

  & > .container

    @media $tablet
      display: flex
      align-items flex-start
      max-width: 670px
      box-sizing: content-box
      margin: 0 auto

    @media $desktop
      max-width: none
      box-sizing: border-box
      align-items: center

  &__logo
    margin-bottom: 20px

    @media $tablet
      margin-right: 30px
      margin-bottom: 0
      flex-shrink: 0

    @media $desktop
      margin-right: 30px


    img
      object-fit: cover
      width: 85px
      aspect-ratio: 3.87

      @media $desktop
        width: 127px


  .links
    font-family: $montserrat
    font-size: 14px
    line-height: 17px
    color: #979797
    font-weight: 400

    @media $tablet
      padding-top: 6px

    @media $desktop
      padding-top: 0

    &__list
      display: flex
      flex-wrap: wrap
      margin-bottom: -8px

      @media $desktop
        justify-content: flex-end
        margin-bottom: 0


    &__item
      margin-right: 16px
      margin-bottom: 16px

      @media $desktop
        margin-bottom: 0

      &:last-child
        margin-right: 0

      &_light
        color: $white
        font-weight: 500

.totop
  display: none
  opacity: 0
  position: fixed
  right: 0
  bottom: 100px
  z-index: 10
  width: 100px
  height: 96px
  background-color: #4F4F4F
  border-radius: 10px
  align-items: center
  justify-content: center
  transition: .3s ease opacity
  cursor: pointer

  font-family: $roboto
  font-size: 16px
  line-height: 38px
  font-weight: 500
  color: #e1e1e1

  @media $desktop
    display: flex

  &_visible
    opacity: 1

  span
    position: relative

    &::before
      content: ''
      display: block
      position: absolute
      bottom: 100%
      left: 50%
      transform: translate(-50%, 2px)
      background-image: url('../img/svg/sprite.svg#totop')
      width: 12px
      height: 7px
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
