.header
    padding-top 12px
    padding-bottom 12px
    margin-bottom 20px

    font-family 'Montserrat', sans-serif

    &__top
        padding-bottom 12px
        margin-bottom 12px
        border-bottom 1px solid alpha($white, 10%)


        & > .container
            display flex
            flex-wrap wrap 
            align-items center
            justify-content space-between

    &__logo
        width 85px

        @media $desktop
            margin-right 65px

    &__tablet-buttons
        display flex

        @media $desktop
            display none
    
    &__btn
        width 28px
        height 25px
        margin-right 8px

        &_tablet

            @media $desktop 
                display none

        @media $tablet
            margin-right 16px

        &:last-child
            margin-right 0

        a 
            display block
            width 100%
            height 100%

        img 
            object-fit cover
            width 100%
            height 100%

    &__tablet-search 

        @media $desktop
            display none
        
    &__categories-btn
        display none
        padding 11px 23px 10px
        margin-right 65px
        background-color $white
        border-radius 5px
        cursor pointer

        font-size 14px
        line-height 17px
        font-weight 500

        &::before 
            content ''
            display inline-block
            vertical-align middle
            width 20px
            height 20px
            background-image url('../img/svg/sprite.svg#header-burger')
            background-position center center
            background-size cover
            margin-right 4px

        @media $desktop
            display block

    &__search 
        display none
        flex-grow 1
        margin-right 65px

        @media $desktop
            display block

    &__cooperation-btn 
        display none

        color $white
        font-size 14px
        line-height 17px
        font-weight 500

        @media $desktop
            display block

.search 
    width 100%
    background-color $gray
    padding 10px 8px
    border-radius 5px

    @media $desktop
        padding 11px 16px 10px

    &__form 
        display flex
        align-items center

    &__label 
        padding-right 8px
        border-right 1px solid $gray_light

        color $gray_light
        font-size 16px
        line-height 21px
        font-weight 500

        @media $desktop 
            padding-right 14px

    &__input
        flex-grow 1

        input 
            width 100%
            background-color transparent
            appearance none
            border none
            padding-left 10px
            padding-right 10px
            
            color: $white

    &__submit
        display none

    &__reset
        display flex

        input 
            font-size 0
            line-height 0
            background-color transparent 
            appearance none 
            border none
            display inline-block
            padding 0

            width 16px
            height 15px
            background-image url('../img/svg/sprite.svg#search-clean')
            background-position center center
            background-size cover
            cursor pointer
