// Шапка
@import 'header.styl'

// Футера
@import 'footer.styl'

// Всплывашки
@import 'popups.styl'

// Общие элементы
@import "common.styl"

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

