.popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100vh
  z-index: 5
  padding: 10px
  display: none
  align-items: center

  @media $tablet
    padding: 20px

  &__overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0,0,0,.6)
    height: 100%
    display: flex
    align-items: center
    justify-content: center

  &__wrap
    position: relative
    z-index: 1
    background-color: $black
    padding: 10px
    width: 100%
    max-width: 540px
    max-height: 100%
    margin: 0 auto
    overflow-y: auto

    @media $tablet
      padding: 20px

    @media $desktop
      padding: 40px

  &__close
    position: absolute
    cursor: pointer
    top: 15px
    right: 15px
    background-image: url('../img/svg/sprite.svg#close')
    width: 16px
    height: 16px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

  &__heading
    padding: 15px
    margin-bottom: 16px

    font-size: 20px
    text-transform: uppercase
    text-align: center
    color: #dadada

    @media $tablet
      font-size: 24px

.partnership

  &__form
    border-bottom: 1px solid alpha(#b8b8b8, .2)
    padding-bottom: 24px
    margin-bottom: 24px

    .form

      &__item
        margin-bottom: 16px

      &__list
        margin-bottom: 16px

    .input
      padding: 10px 16px

  &__hint
    font-family: $roboto
    font-size: 14px
    line-height: 21px
    text-align: center
    color: #e0e0e0

    a
      color: #1D87E4

.add-review

  .popup

    &__wrap
      padding: 24px 32px
      background-color: #141414

      @media $desktop
        max-width: 807px
      
    &__heading
      padding: 0
      margin-bottom: 32px

      text-transform: none
      text-align: left

    &__close
      width: 24px
      height: 24px
      top: 26px
      right: 32px

  .form
    border-bottom: none
    padding-bottom: 0
    margin-bottom: 0

    &__submit
      margin-bottom: 16px