extends ../layout/main

block variables
    - var title = 'Категория'
    - var pageClass = 'category-page'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Актеры

