extends ../layout/main

block variables
    - var title = 'Поддержка'
    - var pageClass = 'faq-page'

block script
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")


block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Компания

        .faq-page__heading
            .heading
                span Компания


        .faq-page__wrap
            include ../modules/company_menu
            .faq-page__content
                .heading.heading_sub
                    span Поддержка
                .faq-page__form.form
                    form
                        .form__list
                            .form__item
                                .form__label
                                    span Ваше имя *
                                .form__input
                                    input(type="text").input.input_error
                            .form__item
                                .form__label
                                    span Ваш Email *
                                .form__input
                                    input(type="text").input
                            .form__item.form__item_wide
                                select.js-select-support
                                    option()
                                    option(value='1') Тема обращения № 1
                                    option(value='1') Тема обращения № 2
                                    option(value='1') Тема обращения № 3
                                    option(value='1') Тема обращения № 4
                            .form__item.form__item_wide
                                .form__input
                                    textarea.input(placeholder='Напишите ваш вопрос')
                        .form__submit
                            input(type="submit" value="Задать вопрос").btn

                    .form__privacy
                        .checkbox
                            input(type="checkbox" id="privacy")
                            label(for="privacy") Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") договором офертой.]


