extends ../layout/main

block variables
    - var title = 'Вопросы и ответы'
    - var pageClass = 'faq-page'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Компания

        .faq-page__heading
            .heading
                span Компания


        .faq-page__wrap
            include ../modules/company_menu
            .faq-page__content
                .heading.heading_sub
                    span Вопросы и ответы
                .faq-page__form.form
                    form
                        .form__list
                            .form__item
                                .form__label
                                    span Ваше имя *
                                .form__input
                                    input(type="text").input.input_error
                            .form__item
                                .form__label
                                    span Ваш Email *
                                .form__input
                                    input(type="text").input
                            .form__item.form__item_wide
                                .form__input
                                    textarea.input(placeholder='Напишите ваш вопрос')
                        .form__submit
                            input(type="submit" value="Задать вопрос").btn

                    .form__privacy
                        .checkbox
                            input(type="checkbox" id="privacy")
                            label(for="privacy") Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") договором офертой.]
                .faq-page__qna
                    .qna
                        .qna__list
                            .qna__item.qna__item_opened
                                .qna__question
                                    p Что делать, если письмо с подтверждением не пришло после оплаты?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Проверьте папку спам. Если письмо не пришло в течение 10 минут после оплаты, напишите в форму поддержки, мы разберемся и ответим в течение суток.
                            .qna__item
                                .qna__question
                                    p Куда отправлять свои вещи для автографа?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Куда отправлять свои вещи для автографа?
                            .qna__item
                                .qna__question
                                    p Как я могу быть уверен в том, что автограф придет именно от моего кумира?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Как я могу быть уверен в том, что автограф придет именно от моего кумира?
                            .qna__item
                                .qna__question
                                    p Какие вещи нельзя отправлять знаменитости для автографа?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Крупногабаритные грузы, нижнее белье, возгорающиеся и взрывоопасные предметы, оружие, продукты питания, средства гигиены, органические предметы. Вы можете отправить футболку, толстовку, бейсболку, чехол для смартфона, блокнот и другие небольшие предметы, на которых будет легко оставить автограф.
                            .qna__item
                                .qna__question
                                    p Какие вещи нельзя отправлять знаменитости для автографа?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Крупногабаритные грузы, нижнее белье, возгорающиеся и взрывоопасные предметы, оружие, продукты питания, средства гигиены, органические предметы. Вы можете отправить футболку, толстовку, бейсболку, чехол для смартфона, блокнот и другие небольшие предметы, на которых будет легко оставить автограф.
                            .qna__item
                                .qna__question
                                    p Какие требования к посылке?
                                    .qna__toggler
                                .qna__answer
                                    .qna__answer-wrap
                                        p Какие требования к посылке?