extends ../layout/main

block variables
    - var title = 'Политика конфиденциальности'
    - var pageClass = 'faq-page'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Компания

        .faq-page__heading
            .heading
                span Компания


        .faq-page__wrap
            include ../modules/company_menu
            .faq-page__content
                .heading.heading_sub
                    span Политика конфиденциальности
                .faq-page__privacy.privacy
                    .privacy__date
                        span Дата публикации: 19 октября 2020г.
                    .privacy__text
                        .privacy__point 1. Что регулирует настоящая политика конфиденциальности
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus enim amet gravida lacus, in nec dignissim vestibulum id. Sed non nisi fusce velit mattis augue non tincidunt sit. Nulla maecenas eget tristique nunc est, justo.
                        .privacy__point 2. Что регулирует настоящая политика конфиденциальности
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus enim amet gravida lacus, in nec dignissim vestibulum id. Sed non nisi fusce velit mattis augue non tincidunt sit. Nulla maecenas eget tristique nunc est, justo.
                        .privacy__point 3. Что регулирует настоящая политика конфиденциальности
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus enim amet gravida lacus, in nec dignissim vestibulum id. Sed non nisi fusce velit mattis augue non tincidunt sit. Nulla maecenas eget tristique nunc est, justo.
