extends ../layout/main

block variables
    - var title = 'Поддержка'
    - var pageClass = 'faq-page'


block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') FAQ
                li.breadcrumbs__item
                    a(href='#') Поддержка

        .faq-page__heading
            .heading
                span FAQ


        .faq-page__wrap
            .faq-page__menu.menu.js-faq-menu
                .menu__current.js-faq-menu-current
                    span Список разделов
                    i
                ul.menu__list.js-faq-menu-list
                    li.menu__item
                        a(href='#') Политика конфиденциальности
                    li.menu__item
                        a(href='#') Договор оферты
                    li.menu__item
                        a(href='#') Вопросы и ответы
                    li.menu__item.menu__item_active
                        a(href='#') Поддержка
                    li.menu__item
                        a(href='#') Контакты
            .faq-page__content
                .heading.heading_sub
                    span Поддержка
                .faq-page__form.form
                    form
                        .form__list
                            .form__item
                                .form__label
                                    span Ваше имя *
                                .form__input
                                    input(type="text").input
                            .form__item
                                .form__label
                                    span Ваш Email *
                                .form__input
                                    input(type="text").input
                            .form__item.form__item_wide
                                .form__input
                                    textarea.input(placeholder='Введите ваш вопрос')
                        .form__submit
                            input(type="submit" value="Задать вопрос").btn

                    .form__hint
                        p Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") договором офертой].
