extends ../layout/main

block variables
    - var title = 'Контакты'
    - var pageClass = 'faq-page'

block script
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js")


block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Контакты

        .faq-page__heading
            .heading
                span Компания


        .faq-page__wrap
            include ../modules/company_menu
            .faq-page__content
                .heading.heading_sub
                    span Контакты
                .faq-page__contacts.contacts
                    .contacts__list
                        .contacts__item
                            .contacts__label
                                span Ваш Email
                            .contacts__data
                                a(href="#") info@.com
                        .contacts__item
                            .contacts__label
                                span Ваш телефон
                            .contacts__data
                                a(href="#") 8 800 000 00 00
                        .contacts__item
                            .contacts__label
                                span Ваш телефон
                            .contacts__data
                                a(href="#") 8 800 000 00 00
                    .contacts__bank
                        .contacts__data
                            p Название организации: ООО “Рога и копыта”
                            p ИНН:8463131635441
                            p БИК:8463131635441
                            p Расчетный счет: 846313163541