extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.container 
		a(href='#').banner 
			.banner__img
				picture
					source(srcset="/static/img/content/banner-big.jpg" media="(min-width: 1280px)")
					source(srcset="/static/img/content/banner-medium.png" media="(min-width: 768px)")
					source(srcset="/static/img/content/banner-small.jpg")
					img(srcset="/static/img/content/banner-small.jpg" alt="title")
			.banner__text
				span Название стартапа - это первый в мире сервис по доставке автографов от звезд!

		.heading
			span Популярные категории:
		
		.popular
			.popular__list 
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-1.jpg" alt="Детективы")
					.popular__name 
						span Детективы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-2.jpg" alt="Мелодрамы")
					.popular__name 
						span Мелодрамы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-3.jpg" alt="Боевики")
					.popular__name 
						span Боевики
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-4.jpg" alt="Комедии")
					.popular__name 
						span Комедии
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-5.jpg" alt="Фантастика")
					.popular__name 
						span Фантастика

		.heading
			span Популярные знаменитости:

		.persons 
			.persons__list 
				.persons__item 
					a(href="#").person 
						.person__photo 
							img(src="/static/img/content/person-1.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name 
							span Оливия Джейнис Кокбернонтрабандист
						.person__position 
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price 
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-2.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-3.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-4.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000

		.heading
			span Недавно присоединились к (название):

		.persons
			.persons__list
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-5.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-6.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-7.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000
				.persons__item
					a(href="#").person
						.person__photo
							img(src="/static/img/content/person-8.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
						.person__name
							span Оливия Джейнис Кокбернонтрабандист
						.person__position
							span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
						.person__price
							span ₽ 150 000

		.heading
			span Как заказать автограф:

		.howto
			.howto__list
				.howto__item
					.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-1');" )
					.howto__text
						span Заполните форму обратной связи и оплатите заказ
				.howto__item
					.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-2');" )
					.howto__text
						span Отправьте вашу вещь в наш сортировочный центр
				.howto__item
					.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-3');" )
					.howto__text
						span Знаменитость оставит автограф
				.howto__item
					.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-4');" )
					.howto__text
						span Мы вернем вещь с автографом на указанный вами адрес

