extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.container 
		a(href='#').banner 
			.banner__img
				picture
					source(srcset="/static/img/content/banner-big.jpg" media="(min-width: 1280px)")
					source(srcset="/static/img/content/banner-medium.png" media="(min-width: 768px)")
					source(srcset="/static/img/content/banner-small.jpg")
					img(srcset="/static/img/content/banner-small.jpg" alt="title")
			.banner__text
				span Название стартапа - это первый в мире сервис по доставке автографов от звезд!

		.heading
			span Популярные категории:
		
		.popular
			.popular__list 
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-1.jpg" alt="Детективы")
					.popular__name 
						span Детективы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-2.jpg" alt="Мелодрамы")
					.popular__name 
						span Мелодрамы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-3.jpg" alt="Боевики")
					.popular__name 
						span Боевики
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-4.jpg" alt="Комедии")
					.popular__name 
						span Комедии
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-5.jpg" alt="Фантастика")
					.popular__name 
						span Фантастика
