extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block script
	script(src="static/js/slick.js")


block content
	.hello
		.hello__bg
			.hello__video
				video(src="/static/video/video.mp4" autoplay)
			.hello__img
				picture
					source(srcset="/static/img/content/hello_desktop.jpg" media="(min-width: 768px)")
					source(srcset="/static/img/content/hello_tablet.jpg")
					img(srcset="/static/img/content/hello_tablet.jpg" alt="Автограф")
		.hello__heading
			span Название стартапа
		.hello__subheading
			span это первый в мире сервис по доставке автографов от звезд!
		.hello__btn
			a(href="star-registration.html").btn Регистрация звезды

	.container
		.popular
			.popular__list.js-slider-popular
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-1.jpg" alt="Детективы")
					.popular__name 
						span Детективы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-2.jpg" alt="Мелодрамы")
					.popular__name 
						span Мелодрамы
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-3.jpg" alt="Боевики")
					.popular__name 
						span Боевики
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-4.jpg" alt="Комедии")
					.popular__name 
						span Комедии
				a(href="#").popular__item 
					.popular__img 
						img(src="/static/img/content/popular-5.jpg" alt="Фантастика")
					.popular__name 
						span Фантастика
		.index-page__howto
			.heading
				span Как заказать автограф:

			.howto
				.howto__list.scrollbar
					.howto__item
						.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-1');" )
						.howto__text
							span Заполните форму обратной связи и оплатите заказ
					.howto__item
						.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-2');" )
						.howto__text
							span Отправьте вашу вещь в наш сортировочный центр
					.howto__item
						.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-3');" )
						.howto__text
							span Знаменитость оставит автограф
					.howto__item
						.howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-4');" )
						.howto__text
							span Мы вернем вещь с автографом на указанный вами адрес

		.index-page__persons
			.heading
				span Популярные знаменитости:

			.persons-row
				.persons-row__list
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-1.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-2.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-3.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-4.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000

					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-5.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-6.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-7.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000
					.persons-row__item
						a(href="#").person-card
							.person-card__photo
								img(src="/static/img/content/person-8.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
							.person-card__name
								span Оливия Джейнис Кокбернонтрабандист
							.person-card__position
								span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
							.person-card__price
								span ₽ 150 000



				.persons-row__more
					a(href='#').btn.btn_gray Загрузить ещё



	.index-page__survey
		.survey
			.survey__bg
				img(src="/static/img/content/survey_bg.jpg" alt="Опрос")
			.container
				.survey__heading
					span У кого вы хотите заказать автограф?
				.survey__subheading
					span Напишите имя знаменитости, от которой вы хотите получить автограф. Мы постараемся договритсяя с вашим кумиром и разместить его на сайте.
				.survey__form
					form
						.survey__hint
							span Опрос анонимный
						.survey__input
							input.input(placeholder="Напишите имя знаменитости")
						.survey__btn
							input(type="submit" value="Отправить").btn
				.survey__last.js-survey-last
					span Последнее предложение
					.survey__name.js-survey-name
						span Константин Хабенский
					script.
						let persons = ['Владимир Ленин', 'Джиган', 'Дмитрий Медведев']
	.container
		.heading
			span Вопросы и ответы:
		.qna
			.qna__show-more
				a(href="#") Читать больше
			.qna__list
				.qna__item.qna__item_opened
					.qna__question
						p Что делать, если письмо с подтверждением не пришло после оплаты?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Проверьте папку спам. Если письмо не пришло в течение 10 минут после оплаты, напишите в форму поддержки, мы разберемся и ответим в течение суток.
				.qna__item
					.qna__question
						p Куда отправлять свои вещи для автографа?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Куда отправлять свои вещи для автографа?
				.qna__item
					.qna__question
						p Как я могу быть уверен в том, что автограф придет именно от моего кумира?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Как я могу быть уверен в том, что автограф придет именно от моего кумира?
				.qna__item
					.qna__question
						p Какие вещи нельзя отправлять знаменитости для автографа?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Крупногабаритные грузы, нижнее белье, возгорающиеся и взрывоопасные предметы, оружие, продукты питания, средства гигиены, органические предметы. Вы можете отправить футболку, толстовку, бейсболку, чехол для смартфона, блокнот и другие небольшие предметы, на которых будет легко оставить автограф.
				.qna__item
					.qna__question
						p Какие вещи нельзя отправлять знаменитости для автографа?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Крупногабаритные грузы, нижнее белье, возгорающиеся и взрывоопасные предметы, оружие, продукты питания, средства гигиены, органические предметы. Вы можете отправить футболку, толстовку, бейсболку, чехол для смартфона, блокнот и другие небольшие предметы, на которых будет легко оставить автограф.
				.qna__item
					.qna__question
						p Какие требования к посылке?
						.qna__toggler
					.qna__answer
						.qna__answer-wrap
							p Какие требования к посылке?
