extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.container 
		a(href='#').banner 
			.banner__img
				picture
					source(srcset="/static/img/content/banner-big.jpg" media="(min-width: 1280px)")
					source(srcset="/static/img/content/banner-medium.png" media="(min-width: 768px)")
					source(srcset="/static/img/content/banner-small.jpg")
					img(srcset="/static/img/content/banner-small.jpg" alt="title")
			.banner__text
				span Название стартапа - это первый в мире сервис по доставке автографов от звезд!

		.heading
			span Популярные категории: