extends ../layout/main

block variables
    - var title = 'Список страниц'
    - var pageClass = 'page'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Список страниц


        ul
            li
                a(href='index.html') Главная
            li
                a(href='category.html') Категория
            li
                a(href='person.html') Персонаж
            li
                a(href='404.html') 404
            li
                a(href='not-found.html') Поиск не дал результата
            li
                a(href='search-results.html') Результаты поиска
            li
                a(href='faq-support.html') FAQ. Поддержка
            li
                a(href='vacancies.html') Вакансии
            li
                a(href='star-registration.html') Регистрация звезды
            li
                a(href='faq-contacts.html') Контакты
            li
                a(href='faq-privacy.html') Политика конфиденциальности