extends ../layout/main

block variables
    - var title = 'Поиск не дал результата'
    - var pageClass = 'not-found-page'

block content
    .not-found-page__wrap
        .not-found-page__text
            span Поиск не дал результата
        .not-found-page__btn
            a(href='#').btn Вернуться на главную страницу
