extends ../layout/main

block variables
    - var title = 'Том Харди'
    - var pageClass = 'person-page'

block script
    script(src="static/js/slick.js")

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Актеры
                li.breadcrumbs__item
                    a(href='#') Том Харди

        a(href='#').person-page__banner.banner
            .banner__img
                picture
                    source(srcset="/static/img/content/tom-big.jpeg" media="(min-width: 1280px)")
                    source(srcset="/static/img/content/tom-medium.jpeg" media="(min-width: 768px)")
                    source(srcset="/static/img/content/tom-small.jpeg")
                    img(srcset="/static/img/content/tom-small.jpeg" alt="Tom Hardy")
        .person-page__verified
            span Верифицированная страница
        .person-page__top
            .person-page__main-info
                .person-page__name.heading
                    span Том Харди
                .person-page__position
                    span Актер, Режиссер, Сценарист
                .person-page__description
                    p Э́двард То́мас «Том» Ха́рди — английский актёр, продюсер и сценарист. Обладатель премии BAFTA и номинант на премию «Оскар». Прославился благодаря фильму «Стюарт: Прошлая жизнь», где он сыграл роль наркомана и бездомного Стюарта Шортера, принёсшую ему номинацию на премию BAFTA.
                .person-page__order
                    a(href='#').btn Заказать автограф за 15 000 ₽
            .person-page__video
                .person-page__video-wrap
                    iframe(src="https://www.youtube.com/embed/A8wopvEgxig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .person-page__info.info
            .heading
                span Информация:
            .info__list
                .info__item
                    .info__param
                        span Отзывы:
                    .info__value
                        span 50
                .info__item
                    .info__param
                        span Видеоотчёт:
                    .info__value
                        span Возможен
                .info__item
                    .info__param
                        span Срок доставки:
                    .info__value
                        span 30 дней
                .info__item
                    .info__param
                        span Фотоочтёт:
                    .info__value
                        span Возможен
                .info__item
                    .info__param
                        span Начало сотрудничества:
                    .info__value
                        span 09.03.2021
        .person-page__howto
            .heading
                span Как заказать автограф:
            .howto
                .howto__list.scrollbar
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-1');" )
                        .howto__text
                            span Заполните форму обратной связи и оплатите заказ
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-2');" )
                        .howto__text
                            span Отправьте вашу вещь в наш сортировочный центр
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-3');" )
                        .howto__text
                            span Знаменитость оставит автограф
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-4');" )
                        .howto__text
                            span Мы вернем вещь с автографом на указанный вами адрес
        .person-page__gallery.gallery
            .gallery__list.scrollbar
                .gallery__item
                    img(src="/static/img/content/tom-1.jpg" alt="Tom 1")
                .gallery__item
                    img(src="/static/img/content/tom-2.jpg" alt="Tom 2")
                .gallery__item
                    img(src="/static/img/content/tom-3.jpg" alt="Tom 3")
        .person-page__form.form
            .heading
                span Оформление заявки:
            form
                .form__block
                    .heading.heading_sub
                        span Контактные данные
                    .form__list
                        .form__item
                            .form__label
                                span Ваше имя *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш телефон *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш город *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш Email *
                            .form__input
                                input(type="text").input
                .form__block.form__block_wide
                    .heading.heading_sub
                        span Информация для доставки
                    .form__item
                        .form__input
                            input(type="text" placeholder="Адрес доставки и/или комментарии к заказу").input
                    .form__submit
                        input(type="submit" value="Заказать автограф за 15 000 ₽").btn
            .form__hint
                .checkbox
                    input(type="checkbox" id="privacy")
                    label(for="privacy")
                        p Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") договором офертой]. После оформления заказа вы будете перенаправлены на страницу оплаты.
                        p После подтверждения оплаты мы будем ждать предмет для автографа в нашем сортировочном центре. Адрес сортировочного центра и электронный чек мы вышлем на ваш email после оплаты. Как только предмет от знаменитости поступит обратно в наш сортировочный центр, мы отправим трек-номер для отслеживания заказа в виде SMS на ваш номер и в письме на email
                        p Если у вас возникли с трудности оформления заказа, воспользуйтесь #[a(href="#") формой для обратной связи]. Мы перезвоним на указанный вами номер и ответим на все вопросы.
        .person-page__tags.tags
            .tags__wrapper
                .tags__heading
                    span Категории:
                .tags__list
                    .tags__item
                        a(href="#") Актеры
                    .tags__item
                        a(href="#") Сценаристы
                    .tags__item
                        a(href="#") Режиссёры
                    .tags__item
                        a(href="#") Дублёры
                    .tags__item
                        a(href="#") Актеры
                    .tags__item
                        a(href="#") Сценаристы
                    .tags__item
                        a(href="#") Режиссёры
                    .tags__item
                        a(href="#") Дублёры

        .person-page__reviews.reviews
            .heading
                span Отзывы:
            .reviews__list.scrollbar
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p Фильм смотрится практически на одном дыхании и все 4 сезона. Прекрасная игра актёров. Сюжет фильма показывает, как добропорядочный гражданин становится преступником, и насколько это затягивает.
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p Однако вся эта сторона практически утрачивает всякое значение, поскольку акценты, расставленные в фильме смещены. Я так понимаю фильм заказан для будущей легализации наркотиков. В одной из серий главные герои примерно так рассуждают....
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p В фильме показано множество сцен как приготовления самого наркотика (метамфитамина), так и употребления его: как курение, вдыхание, и внутревенно. Одна из героинь (подруга Джесси) даже объясняет как натянуть жгут и куда колоть....
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p Фильм смотрится практически на одном дыхании и все 4 сезона. Прекрасная игра актёров. Сюжет фильма показывает, как добропорядочный гражданин становится преступником, и насколько это затягивает.
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p Однако вся эта сторона практически утрачивает всякое значение, поскольку акценты, расставленные в фильме смещены. Я так понимаю фильм заказан для будущей легализации наркотиков. В одной из серий главные герои примерно так рассуждают....
                .reviews__item
                    .reviews__top
                        .reviews__name
                            span Имя Фамилия
                        .reviews__date
                            span 8 марта 2021
                    .reviews__text
                        p В фильме показано множество сцен как приготовления самого наркотика (метамфитамина), так и употребления его: как курение, вдыхание, и внутревенно. Одна из героинь (подруга Джесси) даже объясняет как натянуть жгут и куда колоть....
            .reviews__btn
                a(href='#').btn.btn_gray.js-popup-add-review-opener Написать отзыв
