extends ../layout/main

block variables
    - var title = 'Том Харди'
    - var pageClass = 'person-page'

block script
    script(src="static/js/slick.js")

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Актеры
                li.breadcrumbs__item
                    a(href='#') Том Харди

        a(href='#').person-page__banner.banner
            .banner__img
                picture
                    source(srcset="/static/img/content/tom-big.jpeg" media="(min-width: 1280px)")
                    source(srcset="/static/img/content/tom-medium.jpeg" media="(min-width: 768px)")
                    source(srcset="/static/img/content/tom-small.jpeg")
                    img(srcset="/static/img/content/tom-small.jpeg" alt="Tom Hardy")



        .person-page__verified
            span Верифицированная страница
        .person-page__name.heading
            span Том Харди
        .person-page__position
            span Актер, Режиссер, Сценарист
        .person-page__description
            p Э́двард То́мас «Том» Ха́рди — английский актёр, продюсер и сценарист. Обладатель премии BAFTA и номинант на премию «Оскар». Прославился благодаря фильму «Стюарт: Прошлая жизнь», где он сыграл роль наркомана и бездомного Стюарта Шортера, принёсшую ему номинацию на премию BAFTA.
        .person-page__order
            a(href='#').btn Заказать автограф за 15 000 ₽
        .person-page__video
            iframe(src="https://www.youtube.com/embed/A8wopvEgxig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .person-page__info.info
            .heading
                span Информация:
            .info__list
                .info__item
                    .info__param
                        span Отзывы
                    .info__value
                        span 50
                .info__item
                    .info__param
                        span Видеоотчёт
                    .info__value
                        span Возможен
                .info__item
                    .info__param
                        span Срок доставки
                    .info__value
                        span 30 дней
                .info__item
                    .info__param
                        span Фотоочтёт
                    .info__value
                        span Возможен
                .info__item
                    .info__param
                        span Начало сотрудничества
                    .info__value
                        span 09.03.2021
        .person-page__howto
            .heading
                span Как заказать автограф:
            .howto
                .howto__list
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-1');" )
                        .howto__text
                            span Заполните форму обратной связи и оплатите заказ
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-2');" )
                        .howto__text
                            span Отправьте вашу вещь в наш сортировочный центр
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-3');" )
                        .howto__text
                            span Знаменитость оставит автограф
                    .howto__item
                        .howto__digit(style="background-image: url('/static/img/svg/sprite.svg#howto-4');" )
                        .howto__text
                            span Мы вернем вещь с автографом на указанный вами адрес
        .person-page__gallery.gallery
            .gallery__list.js-person-gallery
                .gallery__item
                    img(src="/static/img/content/tom-1.jpg" alt="Tom 1")
                .gallery__item
                    img(src="/static/img/content/tom-2.jpg" alt="Tom 2")
                .gallery__item
                    img(src="/static/img/content/tom-3.jpg" alt="Tom 3")
        .person-page__form.form
            .heading
                span Оформление заявки:
            form
                .form__block
                    .heading.heading_sub
                        span Контактные данные
                    .form__list
                        .form__item
                            .form__label
                                span Ваше имя *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш телефон *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш город *
                            .form__input
                                input(type="text").input
                        .form__item
                            .form__label
                                span Ваш Email *
                            .form__input
                                input(type="text").input
                .form__block.form__block_wide
                    .heading.heading_sub
                        span Информация для доставки
                    .form__item
                        .form__input
                            input(type="text" placeholder="Адрес доставки и/или комментарии к заказу").input
                    .form__submit
                        input(type="submit" value="Заказать автограф за 15 000 ₽").btn

