extends ../layout/main

block variables
    - var title = 'Результаты поиска'
    - var pageClass = 'category-page'

block content
    .container

        .heading
            span Результаты поиска:

        .persons
            .persons__list
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-5.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-6.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-7.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-8.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-5.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-6.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-8.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-6.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000
                .persons__item
                    a(href="#").person-card
                        .person-card__photo
                            img(src="/static/img/content/person-2.jpg" alt="Оливия Джейнис Кокбернонтрабандист")
                        .person-card__name
                            span Оливия Джейнис Кокбернонтрабандист
                        .person-card__position
                            span Актер, режиссер, сценарист, оператор, гример, сценарист, оператор, гример
                        .person-card__price
                            span ₽ 150 000