extends ../layout/main

block variables
    - var title = 'Регистрация для звезд'
    - var pageClass = 'star-registration-page'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href='#') Главная
                li.breadcrumbs__item
                    a(href='#') Регистрация для звезд

        .heading
            span Регистрация для звезд

        .star-registration-page__steps.steps.scrollbar
            .step
                span Оставьте заявку на регистрацию.
            .step
                span Мы подтверждаем регистрацию и отправляем презентацию, бриф на вашу электронную почту.
            .step
                span После согласования опубликовываем вашу персональную страницу на нашем сайте.
        .star-registration-page__container
            .star-registration-page__form.form
                form
                    .form__list
                        .form__item
                            .form__label
                                span Ваше имя *
                            .form__input
                                input(type="text" placeholder="Введите имя").input
                        .form__item
                            .form__label
                                span Ваш Email *
                            .form__input
                                input(type="text" placeholder="Введите Email").input
                        .form__item
                            .form__label
                                span Ваш телефон *
                            .form__input
                                input(type="text" placeholder="Введите телефон").input
                        .form__item
                            .form__label
                                span Категории *
                            .form__input
                                input(type="text" placeholder="Укажите категории").input
                    .form__submit
                        input(type="submit" value="Зарегистрироваться").btn.js-send
                    .form__privacy
                        .checkbox
                            input(type="checkbox" checked id="privacy")
                            label(for="privacy") Нажимая на кнопку "Заказать автограф", вы соглашаетесь с #[a(href="#") условиями использования сервиса], #[a(href="#") политикой конфиденциальности] и #[a(href="#") офертой.]


