// Colors
$black = #000000
$white = #ffffff

// Gray colors
$gray = #333333 // search bg
$gray2 = #1D1D1D // categories menu bg
$gray3 = #3D3D3D // scrollbar bg
$gray_light = #B8B8B8 // search text, scrollbar track
$gray_light2 = #E0E0E0 // categories menu item

$green = #45DC4B


// Sizes
baseFontSize = 16px

// Fonts
$montserrat = 'Montserrat', sans-serif
$roboto = 'Roboto', sans-serif
$mainFont = $roboto


// Media queries
$tablet = ' screen and (min-width: 768px)'
$desktop = ' screen and (min-width: 1280px)'

