// Colors
$black = #000000
$white = #ffffff

    // Gray colors
    $gray = #333333 // search bg
    $gray_light = #B8B8B8 // search text

// Sizes
baseFontSize = 16px


// Media queries
$tablet = ' screen and (min-width: 768px)'
$desktop = ' screen and (min-width: 1280px)'

