.faq-page

  &__wrap

    @media $desktop
      display: flex

  &__menu
    margin-bottom: 40px

    @media $desktop
      width: 278px
      margin-right: 50px
      margin-bottom: 0

  &__content

    @media $desktop
      max-width: 950px
      flex-grow: 1
      padding-left: 50px
      border-left: 1px solid #828282

    .heading_sub
      margin-bottom: 40px


  .menu
    border: 1px solid #434343
    border-radius: 5px

    font-family: $roboto
    font-size: 16px
    line-height: 18px
    color: #979797
    font-weight: 500
    text-align: center

    @media $desktop
      border: none
      text-align: left

    &__list
      display: none

      @media $desktop
        display: block

    &__current
      position: relative
      cursor: pointer
      padding: 19px 38px 20px 16px

      font-family: $roboto
      color: $white

      @media $desktop
        display: none

      i
        display: block
        background-image: url('../img/svg/sprite.svg#select_arrow')
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        width: 12px
        height: 7px
        position: absolute
        top: calc(50% - 4px)
        right: 16px
        transition: .3s ease transform


    &__item

      @media $desktop
        margin-bottom: 30px

      &:last-child
        margin-bottom: 0

      &:hover
        background-color: #0f0f0f

        color: $white

        @media $desktop
          color: inherit
          background-color: transparent

      &_active
        color: $white !important

      a
        display: block
        padding: 19px 38px 20px 16px

        @media $desktop
          padding: 0



    &.opened

      .menu

        &__current

          i
            transform: rotate(180deg)

  .form

    &__list
      margin-bottom: 30px

      @media $tablet
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    &__item

      @media $tablet
        width: calc(50% - 15px)
        margin-bottom: 30px

      &:last-child
        margin-bottom: 0

      &_wide

        @media $tablet
          width: 100%

        textarea
          height: 235px

    &__submit
      margin-bottom: 30px

    &__privacy
      font-size: 12px
      line-height: 15px

      @media $desktop
        width: 615px
        margin: 0 auto

      a
        color: #1D87E4

      p
        margin-bottom: 15px

  .contacts
    font-family: $roboto
    font-size: 24px
    line-height: 29px

    &__label
      margin-bottom: 16px

      font-size: 16px
      line-height: 19.5px
      font-weight: 400
      color: #828282

    &__item
      margin-bottom: 30px

      &:last-child
        margin-bottom: 0

    &__list
      margin-bottom: 50px

    &__bank

      p
        margin-bottom: 16px

        &:last-child
          margin-bottom: 0



  .privacy
    font-family: $roboto
    font-size: 16px
    line-height: 19.5px
    font-weight: 400
    color: #828282

    &__date
      margin-bottom: 50px

    &__text
      max-width: 530px

      p
        padding: 16px 35px 16px 16px
        margin-bottom: 30px

        color: #979797

    &__point
      margin-bottom: 16px

      color: $white
      font-weight: 500


  .qna
    margin-top: 50px

    &__item

      @media $desktop
        margin-bottom: 30px

      &:last-child
        margin-bottom: 0


