.not-found-page

  .content
    display: flex
    align-items: center
    justify-content: center
    padding: 0 16px

  &__404
    width: 200px
    padding-bottom: 35.5%
    margin: 0 auto 40px
    background-image: url('../img/svg/sprite.svg#404')
    background-repeat: no-repeat
    background-position: center center

    @media $tablet
      width: 440px
      margin: 0 auto 49px

  &__btn
    width: 100%

    @media $tablet
      width: 440px
      margin: 0 auto

    .btn
      font-size: 15px

      @media $tablet
        font-size: 16px

  &__text
    margin-bottom: 32px

    font-size: 20px
    line-height: 21px
    color: #828282
    font-family: $roboto
    text-transform: uppercase
    letter-spacing: 0.3px
    text-align: center

    @media $tablet
      font-size: 32px
      line-height: 48px