.vacancies-page

  .heading
    padding-bottom: 30px
    margin-bottom: 30px
    border-bottom: 1px solid #4F4F4F

  &__container
    max-width: 950px

  &__text
    margin-bottom: 30px

    font-family: $roboto
    font-size: 16px
    line-height: 22px
    font-weight: 400

    p
      margin-bottom: 8px

    a
      color: $green


  .vacancy
    margin-bottom: 30px

    font-family: $roboto

    &:last-child
      margin-bottom: 0

    &_opened
      display: block

      .vacancy
        &__toggler

          &::after
            transform: translate(-50%, -50%) rotate(90deg)

        &__descr
          display: block

    &__name
      position: relative
      padding: 32px 62px 32px 16px
      border-radius: 5px
      background-color: $gray2
      cursor: pointer
      margin-bottom: 8px

      font-size: 16px
      line-height: 22px
      font-weight: 700

    &__toggler
      @extend .qna__toggler

    &__descr
      @extend .qna__answer
      font-size: 16px
      line-height: 22px
      font-weight: 400


